

.Auth-from-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form{
  opacity: 0.9;
  width: 420px;
   box-shadow: rgb(233, 8, 8, 0.16) 1px 1px 10px; 
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: rgb(243, 230, 195);
  position: absolute;
top: 170px; left: 640px;
padding-left: 20px;
padding-right: 20px;
  
}

.Auth-form-content{
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title{
text-align: center;
margin-bottom: 1em;
font-size: 24px;
color: rgb(94, 48, 70);
font-weight: 800;
font-family: 'Lucida Grande', 'Lucida Sans';
text-transform: uppercase;
}

.label{
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.link-color{
  color:rgb(170, 58, 58);
}

.button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 4px;
  position: relative;
  left: 45px;
  background-color: rgb(95, 149, 98);
  border: none;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

.button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:focus { outline:0; }
 
